*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin:20px;
    
}

.container{
    max-width:100px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;

}
.card{
    width: 200px;
    background-color: olive;
    text-align: center;
    padding-bottom:15px;
    color:white;
    font-size: 18px;
}

.card img{
    width:100%;
    object-fit:cover;
}

.card p{
    margin:10px 0;
}